Repository matlij/PoolSensor: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-models.yml, azure-pipelines-webapi.yml

azure-pipelines-models.yml:

trigger:
  branches:
    include:
    - master
    - releases/*
  paths:
    include:
    - Shared/Models

pool:
  vmImage: ubuntu-latest

variables:
  modelProjPath: 'Shared/Models'
  workingDirectory: '$(System.DefaultWorkingDirectory)/Shared/Models'

steps:
- task: DotNetCoreCLI@2
  displayName: 'Create nuget'
  inputs:
    command: pack
    outputDir: $(Build.ArtifactStagingDirectory)/$(modelProjPath)
    # arguments: '-c release'
    projects: '$(workingDirectory)/*.csproj'

- task: DotNetCoreCLI@2
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/$(modelProjPath)/*.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: '6aa6eab7-4bc3-4e54-b377-a0710c83a895'

- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

azure-pipelines-webapi.yml:

# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  batch: true
  branches:
    include:
    - master
    - releases/*
  paths:
    include:
    - PoolSensorAPI

pool:
  name: 'MyAgentPool'

variables:
  buildConfiguration: 'Release'

stages:
- stage: 'Build'
  displayName: 'Build the web application'
  jobs:
  - job: 'Build'
    displayName: 'Build job'

    variables:
      workingDirectory: '$(System.DefaultWorkingDirectory)/PoolSensorAPI'

    steps:
    - task: DotNetCoreCLI@2
      displayName: 'Build the project - $(buildConfiguration)'
      inputs:
        command: build
        arguments: '-c $(buildConfiguration)'
        projects: '$(workingDirectory)/*.csproj'
    
    - task: DotNetCoreCLI@2
      displayName: "Run unit tests"
      inputs:
        command: 'test'
        projects: '**/*Tests.csproj'
        arguments: '--no-build -c $(buildConfiguration)'
    
    - task: DotNetCoreCLI@2
      displayName: 'Publish and zip the project - $(buildConfiguration)'
      inputs:
        command: 'publish'
        arguments: '--no-build -c $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/$(buildConfiguration)'
        projects: '$(workingDirectory)/*.csproj'
        zipAfterPublish: true
    
    - publish: $(Build.ArtifactStagingDirectory)
      artifact: drop

- stage: 'Deploy'
  displayName: 'Deploy to dev environment'
  dependsOn: Build
  jobs:
  - deployment: Deploy
    environment: development
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop

          - task: AzureWebApp@1
            inputs: 
              azureSubscription: 'Azure subscription mattias(909eb5e0-25b8-4ea2-a491-e39f55abbcb4)'
              appType: 'webApp'
              appName: 'PoolSensorAPI'
              package: '$(Pipeline.Workspace)/drop/$(buildConfiguration)/*.zip'

Added publish step
  azure-pipelines-models.yml
Due: none

Models nuget fixes
  PoolDataIngestion/PoolDataIngestion.csproj
  PoolSensor.sln
  Shared/Models/Models.csproj
  Shared/Models/PoolSensorData.cs
Due: azure-pipelines-models.yml

Models pipeline fix
  azure-pipelines-models.yml
Due: none

Added nuget conf
  Shared/Models/Nuget.config
Due: azure-pipelines-models.yml

Update azure-pipelines-models.yml for Azure Pipelines
  azure-pipelines-models.yml
Due: none

Use Model and DataLayer nuget
  PoolSensorAPI/Nuget.config
  PoolSensorAPI/PoolSensorAPI.csproj
Due: azure-pipelines-webapi.yml

Changed agent
  azure-pipelines-webapi.yml
Due: none

yaml
  azure-pipelines-webapi.yml
Due: none

Fixed CORS issue and json serializes to Pascal case
  PoolSensorAPI/Startup.cs
Due: azure-pipelines-webapi.yml
